
  <p><img style="border: 1px solid black;
  border-radius: 180px;
  -moz-border-radius: 180px;
  -webkit-border-radius: 180px;
  "src="/joel_bw.jpeg"></a></h1>From a very young age I have been entralled by all things computing and it all began with a copy of <a href="http://en.wikipedia.org/wiki/King's_Quest" target="_blank">Kings Quest</a> that I wanted to run on a <a href="http://en.wikipedia.org/wiki/IBM_Portable_Personal_Computer" target="_blank">IBM PPC</a> my Dad had barrowed from work for the weekend. The game was not playing nicely at first due to the low ammount of RAM in the machine and thus began my first challenge in computing. This all took place long before normal folks had access to the internet, so headed off to the library looking for an answer. The large building of outdated books proved to be fruitless and a secondary source of knowledge would be needed before the gates to happy gaming land would open. Luckily for me, my father had a fellow gamer geek at work that would guide me to my first solution. "You've gotta edit the config.sys, kid!". And the adventure had begun.</br>
  </br>
  Fast forward 20 years into my story.. I'm a Microsoft Systems Engineer that has been living in San Francisco for the last decade and I meet an AMAZING girl while on a trip to Paris. Trusting my gut instinct has never been a problem and I decide to pack up shop in San Francisco and move to Munich in search of hapiness. We've spent the last year plus of our lives wandering around Europe, Australia and the USA since and finally deciding settling down in Sydney. That brings the story to today.. Change can be good and now it's time to reconfigure the config.sys of my career. Here goes nothing!
  </p>