<footer>
      Contact me:<br>
      US Phone: <a href="tel:+1-415-683-6595">+1.415.683.6595</a><br>
      AU Phone: <a href="tel:+61423250707">+61.423.250.707</a><br>
      Email: <a href="mailto:joelhampton@gmail.com">joelhampton@gmail.com</a><br>
      Social:  <a href="https://twitter.com/contact411" target="_blank"><img src="twitter.png" width="32" heigth="32"></a> <a href="https://facebook.com/joelhampton" target="_blank"><img src="facebook.png" width="32" heigth="32"></a> <a href="https://instagram.com/contact411" target="_blank"><img src="instagram.jpg" width="32" heigth="32"></a> <a href="https://au.linkedin.com/in/joelhampton/" target="_blank"><img src="linkedin.png" width="32" heigth="32"></a><br><br><br>

      <a class="twitter-timeline" href="https://twitter.com/contact411" data-widget-id="524760307424436224"></a>
  </footer>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>