<!DOCTYPE html>
<html>
  <head>
    <title>Joel Hampton</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
    <div class="nav">
      <ul>
        <li class="home"><a href="/">home</a></li>
        <li class="about"><a href="/about">about</a></li>
        <li class="student_list"><a href="/student_list">students</a></li>
        <li class="contact"><a href="/contact">contact</a></li>
        <li class="thank_you"><a href="/thank_you">thank you</a></li>
      </ul>
    </div>
  <h1><img style="border: 1px solid black;
                  border-radius: 180px;
                  -moz-border-radius: 180px;
                  -webkit-border-radius: 180px;
                  "src="/joel_bw.jpeg"></a></h1>
    <%= yield %>

</html>