<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Link.R - Reddit for the Amish!</title>
  <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div id="site_name">
    <h1>Link.R - Reddit for the Amish!</h1>
  </div>

  <div id="links">
      <h2>Current Links</h2>
  <ul>
    <% @link_list.each do |link| %>
    <li><%= link["site"] %>  ---->  <a href='http://<%= link["url"] %>'><%= link["url"] %></a></li>
    <% end %>
  </ul>
  </div>

  <div id="add_link">
    <p><a href="/tasks/new">Add a link</a></p>
  </div>





</body>
</html>
