<!DOCTYPE html>
<html>
<head>
  <title>Moma Biatch!!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
</head>
<body>

  <div id="site_name">
    <h1>MOMA Online Index</h1>
  </div>

<%= yield %>

</body>
</html>
