
  <% @artists.each do |artist| %>
  <li>
    <%= link_to artist.first_name + " " + artist.last_name, artist %>
  </li>
  <% end %>

<br>
<br>

<div id="new_artist">
  <a href="/artists/new" >Create new artist</a>
</div>