<h2> Name:   <%= @artist.first_name + " " + @artist.last_name %> </h2>
<h2> Born: <%= @artist.date_of_birth %> </h2>
<h2> Nationality: <%= @artist.nationality %> </h2>
<h3> <a href="/artists/edit/<%= @artist.id %>">edit</a></h3>