<!DOCTYPE html>
<html>
  <head>
    <title>BeWm Blog!</title>
  </head>
  <body>
    <h1>It's the BeWM BloG!!</h1>
    <p>
      <a href="/">Posts</a> | <a href="/authors">Authors</a>
    </p>

    <%= yield %>
  </body>
</html>
