/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: #cccccc;
  margin: 20px 100px 1px;
}

h1 { font-family: 'Architects Daughter', cursive; 
font-weight: 400;
font-size: 40px; 
}

#list {
  font-family: tahoma;
  font-size: 90%;
  list-style-type: none;
}

#new_artist {
  padding-left: 45px;
}

#info {
  font-family: tahoma;
  font-size: 90%;
}

#painting {
  max-width: 50px;
  font-family: tahoma;
  font-size: 90%;
  list-style-type: none;
}